.Blog-itemstyle {
    background-color: white;
    width: 340px;
    height: 50px;
    text-align: center;
}

.Blog-title {
    font-family: 'Helvetica Neue';
    text-decoration: none;
    color: black;
    font-weight: 100;
}

.Blog-title:hover {
    text-decoration: underline;
  
}

@media only screen and (max-width: 1300px) {
    .Blog-itemstyle {
        width: 800px;
        
    }

}